.supplierContainer {
  padding: 32px;
  background-color: #EBEEFD;
  box-shadow: 0px 4px 4px -1px #0C0C0D0D, 0px 4px 4px -1px #0C0C0D1A;
  border-radius: 16px;
  margin-bottom: 80px;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 80px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.customSelect {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
  border: 1px solid #00000033;
  border-radius: 6px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-bottom: 4px;
  display: block;
}